<!DOCTYPE html>
<html>
<head>
  <title>Addresses</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
  <script src="https://use.fontawesome.com/bfd4e076b7.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>ID</td>
        <td>user_id</td>
        <td>street</td>
        <td>city</td>
        <td>state</td>
        <td>zip</td>
      </tr>
    </thead>
    <tbody>
      {% for address in addresses %}
      <tr>
        <td>{{ address.id }}</td>
        <td>{{ address.user_id }}</td>
        <td>{{ address.street }}</td>
        <td>{{ address.city }}</td>
        <td>{{ address.state }}</td>
        <td>{{ address.zip }}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</body>
</html>
